<style>
    /*
/* Created by Filipe Pina
 * Specific styles of signin, register, component
 */
    /*
     * General styles
     */

    .intro-header{
        padding-top: 0px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
        padding-bottom: 100px;
        text-align: center;
        color: #f8f8f8;
        background: url(img/intro-bg.jpg);
        background-size: cover;
    }

    .main{
        margin-top: 0px;
    }

    h1.title {
        font-size: 50px;
        font-family: 'Passion One';
        font-weight: 400;
    }

    hr{
        width: 10%;
        color: #fff;
    }

    .form-group{
        margin-bottom: 15px;
    }

    label{
        margin-bottom: 15px;
    }

    input,
    input::-webkit-input-placeholder {
        font-size: 11px;
        padding-top: 3px;
    }

    .main-login{
        background-color: #5e9791;
        opacity: .9;
        /* shadows and rounded borders */
        -moz-border-radius: 2px;
        -webkit-border-radius: 2px;
        border-radius: 2px;
        -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

    }

    .main-center{
        margin-top: 0px;
        margin: 0 auto;
        max-width: 330px;
        padding: 40px 40px;

    }

    .login-button{
        margin-top: 5px;
    }

    .login-register{
        font-size: 11px;
        text-align: center;
    }

</style>
<!-- form one -->
<div class="intro-header">
    <div class="row">
        <div class="alert alert-danger" role="alert" ng-show="vm.errors">
            <span class="sr-only">Error:</span>
            {{vm.message}}
        </div>
    </div>
    <div ng-show="vm.formOne">
        <div class="row main">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h1 class="title">Burden Bidder</h1>
                    <hr />
                </div>
            </div>
            <div class="main-login main-center">
                <form class="form-horizontal">



                    <div class="form-group">
                        <div class="cols-sm-10">
                            <label for="firstName">First Name</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" ng-model="vm.firstName" id="firstName" placeholder="Enter your First Name"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="cols-sm-10">
                            <label for="lastName">Last Name</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" id="lastName" ng-model="vm.lastName" placeholder="Enter your Last Name"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="cols-sm-10">
                            <label for="email">Email</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" id="email" ng-model="vm.email" placeholder="Enter your Email"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="cols-sm-10">
                            <label for="password">Password</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" id="password" ng-model="vm.password" placeholder="Enter your Password"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="cols-sm-10">
                            <label for="confirm">Confirm Password</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="password" class="form-control" ng-model="vm.confirmPass" id="confirm" placeholder="Confirm your Password"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="cols-sm-10">
                            <div class="input-group">

                                <label>
                                    <input type="checkbox" ng-model="vm.agreeToTerms" id="terms"> I agree with the <a href="#/terms" target="_blank">Terms and Conditions</a>.
                                </label>
                                <!--<input type="checkbox" class="form-control" ng-model="agreeToTerms" id="terms"/>-->
                                <!--<span class="input-group-addon">I agree to the terms and conditions</span>-->
                            </div>
                        </div>
                    </div>

                    <div class="form-group ">
                        <button ng-click="vm.next()" type="button" class="btn btn-primary btn-lg btn-block login-button">Next</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--form two -->
    <div ng-show="!vm.formOne">
        <div class="row main">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h1 class="title">Burden Bidder</h1>
                    <hr />
                </div>
            </div>
            <div class="main-login main-center">
                <form class="form-horizontal">

                    <div class="form-group">
                        <div class="cols-sm-10">
                            <label for="birthday">Birthday</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" ng-model="vm.dateOfBirth" id="birthday" placeholder="Enter your Birthday"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="cols-sm-10">
                            <label for="phone">Phone</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" id="phone" ng-model="vm.phoneNo" placeholder="Enter your Phone Number"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="cols-sm-10">
                            <label for="street">Street</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" id="street" ng-model="vm.street" placeholder="Enter your Street Address"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="cols-sm-10">
                            <label for="city">City</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" id="city" ng-model="vm.city" placeholder="Enter your City"/>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="cols-sm-10">
                            <label for="state">State</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <select class="form-control" id="state" ng-model="vm.stateCode">
                                    <option ng-repeat="state in vm.states" value="{{state.value}}">{{state.name}}</option>
                                </select>

                                <!--<input type="text" class="form-control" ng-model="stateCode" id="state" placeholder="Enter your State"/>-->
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="cols-sm-10">
                            <label for="zip">Postal Code</label>
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" ng-model="vm.zip" id="zip" placeholder="Enter your Postal Code"/>
                            </div>
                        </div>
                    </div>


                    <div class="form-group ">
                        <button ng-click="vm.prev()" type="button" class="btn btn-primary btn-lg  login-button">Back</button>
                        <button ng-click="vm.finish()" type="button" class="btn btn-primary btn-lg  login-button">Finish</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>